body {
	margin: 48px;
	background: #ffffff;
}

.clear {
	clear: both;
}


.a {
	position: absolute;
	top: 108px;
	left: 300px;
	right: -12px;
	border-bottom: 12px solid #da1616;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
}


.a1 {
	position: absolute;
	top: 120px;
	left: 300px;
	border-top: 12px solid #000;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
}

.f1 {
	position: absolute;
	top: 151px;
	left: 269px;
	border-bottom: 12px solid #16da26;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.f2 {
	position: absolute;
	top: 151px;
	left: 257px;
	border-top: 12px solid #da1616;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.b1 {
	position: absolute;
	top: 151px;
	left: 343px;
	border-bottom: 12px solid #da16c0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.b2 {
	position: absolute;
	top: 151px;
	left: 331px;
	border-top: 12px solid #3414eb;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.g1 {
	position: absolute;
	top: 182px;
	left: 300px;
	border-bottom: 12px solid #16dad0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
}

.g2 {
	position: absolute;
	top: 193px;
	left: 300px;
	border-top: 12px solid #b41616;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
}

.c1 {
	position: absolute;
	top: 201px;
	left: 343px;
	border-bottom: 12px solid #da16c0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.c2 {
	position: absolute;
	top: 201px;
	left: 331px;
	border-top: 12px solid #3414eb;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.e1 {
	position: absolute;
	top: 201px;
	left: 269px;
	border-bottom: 12px solid #16da26;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.e2 {
	position: absolute;
	top: 201px;
	left: 257px;
	border-top: 12px solid #da1616;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.d1 {
	position: absolute;
	top: 272px;
	left: 300px;
	border-bottom: 12px solid #16dad0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
}

.d2 {
	position: absolute;
	top: 284px;
	left: 300px;
	border-top: 12px solid #b41616;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	width: 50px;
}



.display-1 .segment-a,
.display-1 .segment-a1,
.display-1 .segment-d1,
.display-1 .segment-d2,
.display-1 .segment-e1,
.display-1 .segment-e2,
.display-1 .segment-f1,
.display-1 .segment-f2,
.display-1 .segment-g1,
.display-1 .segment-g2
{
	opacity: 0.1; /*Adjust based on liking*/
	filter: alpha(opacity=10);
}

.display-2 .segment-c1,
.display-2 .segment-c2,
.display-2 .segment-f1,
.display-2 .segment-f2 
{

	opacity: 0.1; /*Adjust based on liking*/
}

.display-3 .segment-e1,
.display-3 .segment-e2,
.display-3 .segment-f1,
.display-3 .segment-f2 
{

	opacity: 0.1; /*Adjust based on liking*/
}
